__pycache__/
*.py[cod]
.venv/
build/
dist/
.stfolder/
release/
/aur/just-talk-bin-0.1.0-1-x86_64.pkg.tar.zst
/aur/just-talk-bin-debug-0.1.0-1-x86_64.pkg.tar.zst
/aur/just-talk-linux-x86_64-v0.1.0.tar.zst
/aur/pkg/
/aur/src/
AppDir/
