pkgbase = just-talk-bin
	pkgdesc = Speech recognition app with global hotkey support
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/whoamihappyhacking/just-talk
	arch = x86_64
	license = GPL-3.0-or-later
	depends = alsa-lib
	depends = at-spi2-core
	depends = atk
	depends = cairo
	depends = dbus
	depends = gcc-libs
	depends = glibc
	depends = gtk3
	depends = libdrm
	depends = libpulse
	depends = libx11
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxi
	depends = libxkbcommon
	depends = libxrandr
	depends = libxrender
	depends = libxss
	depends = libxtst
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	provides = just-talk
	conflicts = just-talk
	conflicts = just-talk-git
	source = just-talk-linux-x86_64.tar.gz::https://github.com/whoamihappyhacking/just-talk/releases/download/v0.1.0/just-talk-linux-x86_64.tar.gz
	sha256sums = SKIP

pkgname = just-talk-bin
