pkgbase = just-talk-bin
	pkgdesc = Speech recognition app with global hotkey support
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/whoamihappyhacking/just-talk
	arch = x86_64
	license = GPL-3.0-or-later
	options = !debug
	optdepends = xdotool: X11 auto-submit typing
	optdepends = wtype: Wayland auto-submit typing
	provides = just-talk
	conflicts = just-talk
	conflicts = just-talk-git
	source = just-talk-linux-x86_64-v0.1.1.tar.zst::https://github.com/whoamihappyhacking/just-talk/releases/download/v0.1.1/just-talk-linux-x86_64-v0.1.1.tar.zst
	sha256sums = a0c99d67bcd232fe30f74b73c61a6638e0c880b22b399f050c2579417b0205c8

pkgname = just-talk-bin
